.create-ultra-container {
  display: flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  background-size: cover;
  height: 100vh;
}

.create-page-container {
  margin-top: 25vh;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.486);
  border: 3px ridge black;
  background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-form{
  border: 2px ridge black;
  min-height: 300px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  height: 95px;
}