.create-page-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvb2tpbmd8ZW58MHwwfDB8&auto=format&fit=crop&w=400&q=60);
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form {
  background-color: rgba(109, 102, 102, 0.406);
  border: 2px ridge black;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 310px;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.create-title {
  text-align: center;
  margin-top: 0%;
  padding-top: 30px;
}