.register-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.register-form {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: space-evenly;
}