.header-container {
  border-bottom: 3px ridge black;
  background-color: rgba(123, 123, 123, 0.947);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95px;
  position: fixed;
  top: 0;
  width: 100%
}

