.recipe-ultra-container {
  display: flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  background-size: cover;
}
.recipe-page-container {
  margin-top: 25vh;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.486);
  border: 3px ridge black;
  background-image: url(https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-container {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 430px;
  min-height: 360px;
  margin: 10vh 5vw;
  background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNvb2tpbmd8ZW58MHwwfDB8&auto=format&fit=crop&w=400&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px ridge grey;
}

.recipe {
  padding: 7px;
  margin: 5px;
}

.recipe-image {
  height: 163px;
  width: 300px;
  padding: 15px;
  padding-bottom: 45px;
}

@media screen and (max-width: 760px ) {

  .recipe-container {
    min-width: 330px;
    min-height: 330px;
  }
  
  .recipe-image {
    width: 250px;
  }

}